
#HangTieuDe{font-size: 24px; padding: 10px; background-color: cadetblue;}
#Hang2 a{width: 150px; padding: 10px; font-weight: bold; display: block; float: left; margin-right: 1px; text-align: center; background-color: skyblue;}
#Hang2 a:hover{text-decoration-color: red; color: red;}